body {
    background-image: url("https://images.unsplash.com/photo-1538370965046-79c0d6907d47?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    min-height: 100dvh;
    background-position: center;

}

.img-moon-eclipse {
    image: url ("https://images.unsplash.com/photo-1509978778156-518eea30166b?q=80&w=1315&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100px;
    width: 100px;
    border-radius: 50%;

}